body {
	margin: auto;
	width: 70%;
}

h1 {
	text-align: center;
}
header {
	height: 100px;
	background-color: #c9eee0;

}

.groupSize {
	width: 200px;
	float: left;
}

.generate {
	width: 200px;
	float: right;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 70%;
	padding: 1px;
	background-color: #feffa3;
	text-align: center;
}